@import "tailwindcss";

.bg-primary-2{
  background-color: rgb(85, 30, 112);
}

body{
  background-color: rgb(23, 19, 25);
}
::-webkit-scrollbar {
  width: 8px; /* Ancho */
  height: 8px; /* Para scroll horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fondo del track */
  border-radius: 4px;
  margin: 0.5em 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 122, 255, 0.5); /* Color del pulgar */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 122, 255, 0.8); /* Color al pasar el mouse */
}